<p style="color: green"><%= notice %></p>

<div class="h-full flex items-start justify-center mt-16">
  <div class="h-49 w-96 rounded-lg bg-slate-700 p-6 shadow-xl">
    <form class="flex flex-col gap-3 items-center">
      <input class="bg-slate-500 rounded-lg" type="text" name="room_name" id="room_name_input" placeholder="Room name"/>
      <input class="bg-slate-500 rounded-lg" type="password" name="password" id="password_input" placeholder="Room password"/>
      <input class="w-1/3 rounded-lg bg-indigo-600 h-10" type="submit" value="Create/Enter"/>
    </form>
  </div>
</div>
